.main_container{
    min-height: 100vh;
    background-color: aliceblue;
}

.main_wrapper {
    width: 1150px;
    margin: 0 auto;
}

.wrapper {
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 30px;
}

.container {
    /* min-width: 1080px; */
}

.content_container {}

.image_content {}

.image {
    /* object-fit: scale-down; */
    /* background-position: center 0;
    background-image: url(); */
}

.no_elem {
    /* backdrop-filter: blur(10px); */
    filter: grayscale(100%) blur(10px);
    transition: all .3s;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 25px;
}

.navigation p {
    width: 100px;
    text-align: center;
}

.navigation img {
    width: 100px;
}

.navigation button {
    width: 50px;
    transition: all .4s;
}

.navigation button p {
    font-size: 20px;
    font-weight: 700;
}

.navigation button:hover {
    transform: scale(110%);
}

.type {
    max-width: 130px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 20px; */
    font-size: 20px;
    margin-top: 25px;
}

.type_btn_red {
    height: 90px;
    margin: 5px;
    padding: 5px;
    border: 4px solid rgb(255, 71, 71);
    border-radius: 15px;
    font-weight: 700;
}

.type_btn_green {
    height: 90px;
    margin: 5px;
    padding: 5px;
    border: 4px solid rgb(40, 209, 40);
    border-radius: 15px;
    font-weight: 700;
}

.type_btn_blue {
    height: 90px;
    margin: 5px;
    padding: 5px;
    border: 4px solid rgb(60, 60, 255);
    border-radius: 15px;
    font-weight: 700;
}

/* .type_btn_red_active {
    background-color: orange;
}

.type_btn_green_active {
    background-color: orange;
}

.type_btn_blue_active {
    background-color: orange;
} */

.properties {
    max-width: 130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    margin-top: 25px;
    /* justify-content: space-around; */
}

.properties button {
    height: 90px;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
}

.prop_yellow {
    border: 4px solid orange;
    transition: all .4s;
}

.prop_yellow:hover{
    background-color: orange;
}

.prop_red {
    border: 4px solid rgb(255, 71, 71);
    transition: all .4s;
}

.prop_red:hover{
    background-color: rgb(255, 71, 71);
}

.prop_green {
    border: 4px solid green;
    transition: all .4s;
}

.prop_green:hover{
    background-color: green;
}

.meter_data_wrapper{
    margin-top: 25px;
    min-width: 255px;
    height: 200px;
}

.meter_data {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* opacity: 0; */
}