.wrapper {
    width: 100%;
    /* height: 100px; */
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_content {
    /* max-height: 700px; */
    /* min-height: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    /* max-height: 800px; */
    /* height: 800px;
    background-size: contain;
    max-height: 800px; */
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

.navigation p {
    width: 100px;
}

.navigation button {
    width: 50px;
    transition: all .4s;
}

.navigation button:hover {
    transform: scale(110%);
}

.type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 24px;
}

.type_btn_red {
    margin: 10px;
    padding: 10px;
    border: 4px solid rgb(255, 71, 71);
    border-radius: 15px;
    /* color: rgb(255, 71, 71);; */
    font-weight: 900;
}

.type_btn_green {
    margin: 10px;
    padding: 10px;
    border: 4px solid rgb(40, 209, 40);
    border-radius: 15px;
    /* color: green; */
    font-weight: 900;
}

.type_btn_blue {
    margin: 10px;
    padding: 10px;
    border: 4px solid rgb(60, 60, 255);
    border-radius: 15px;
    /* color: blue; */
    font-weight: 900;
}

.type_btn_red_active {
    background-color: orange;
}

.type_btn_green_active {
    background-color: orange;
}

.type_btn_blue_active {
    background-color: orange;
}

.properties {
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.properties button {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    font-size: 21px;
}

.prop_yellow {
    background-color: orange;
}

.prop_red {
    background-color: rgb(255, 71, 71);
}

.prop_green {
    background-color: green;
}