.main_wrapper {
    margin: 0 auto;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* min-width: 1080px; */
}

.content_container {}

.image_content {}

.image {
    object-fit:scale-down;
}

.no_elem{
    filter: grayscale(100%);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 25px;
}

.navigation p {
    width: 100px;
}

.navigation button {
    width: 50px;
    transition: all .4s;
}

.navigation button:hover {
    transform: scale(110%);
}

.type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 24px;
}

.type_btn_red {
    margin: 10px;
    padding: 10px;
    border: 4px solid rgb(255, 71, 71);
    border-radius: 15px;
    font-weight: 900;
}

.type_btn_green {
    margin: 10px;
    padding: 10px;
    border: 4px solid rgb(40, 209, 40);
    border-radius: 15px;
    font-weight: 900;
}

.type_btn_blue {
    margin: 10px;
    padding: 10px;
    border: 4px solid rgb(60, 60, 255);
    border-radius: 15px;
    font-weight: 900;
}

.type_btn_red_active {
    background-color: orange;
}

.type_btn_green_active {
    background-color: orange;
}

.type_btn_blue_active {
    background-color: orange;
}

.properties {
    /* width: 150px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.properties button {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    font-size: 21px;
}

.prop_yellow {
    background-color: orange;
}

.prop_red {
    background-color: rgb(255, 71, 71);
}

.prop_green {
    background-color: green;
}

.meter_data {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    opacity: 0;
}