.meter_data_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input_meter_data {
    border: 2px solid rgb(39, 39, 41);
    border-radius: 5px;
    padding: 10px;
    display: flex;

}

.input_meter_data button{
    background-color: rgb(120, 120, 236);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: default;
}