.wrapper {
    width: 100%;
    height: 50px;
    background: rgb(255, 177, 1);
    background: linear-gradient(90deg, rgba(255, 177, 1, 1) 0%, rgba(255, 217, 2, 1) 100%);
}

.container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_btns {
    margin: 5px 10px;
    padding: 5px 10px;
    font-size: 24px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
    transition: all .4s;
}

.header_btns:hover {
    background-color: rgb(173, 173, 173);
}

.header_btns input[type="file"] {
    display: none;
}

.input_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.input_photos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn_inputs{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all .4s;
}

.btn_inputs:hover{
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    scale: 105%;
}

.btn_inputs:active{
    background-color: green;
}
