.popup_body{
    opacity: 0.9;
    z-index: 9999;
    top: 70px;
    left: 30px;
    width: 500px;
    height: 50px;
    position: fixed;
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: rgb(255, 95, 95);
}

.green{
    background-color: rgb(38, 231, 0);
}