/* font-family: 'Roboto', sans-serif; */

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background: rgb(243, 245, 245);
  background: linear-gradient(90deg, rgba(243, 245, 245, 1) 0%, rgba(225, 230, 230, 1) 50%, rgba(243, 245, 245, 1) 100%);
  font-family: 'Roboto', sans-serif;
  font-style: 16px;
  color: rgb(39, 39, 41);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}