/* font-family: 'Roboto', sans-serif; */

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
}

body {
  background-image: url(./assets/background-light.svg);
  background-size: 100% auto;
  backdrop-filter: blur(10px);
  font-family: 'Roboto', sans-serif;
  font-style: 16px;
  color: rgb(39, 39, 41);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.auth_app{
  min-width: 100%;
  height: 100vh;
}